<h3>
    Are you want to sure to delete this record?
</h3>
<hr />
<form class="form-horizontal" style="max-width: 500px;">
    <div class="form-group">
        <label class="control-label col-xs-3">
            Request Id :
        </label>
        <div class="col-xs-9">
            <p class="form-control-static">
                {{ requestid }}
            </p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            Requestor Name :
        </label>
        <div class="col-xs-9">
            <p class="form-control-static">
                {{ requestorname }}
            </p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            Asset Name :
        </label>
        <div class="col-xs-9">
            <p class="form-control-static">
                {{ assetname }}
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3">
            Start Date :
        </label>
        <div class="col-xs-9">
            <p class="form-control-static">
                {{ startdate}}
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3">
            End date :
        </label>
        <div class="col-xs-9">
            <p class="form-control-static">
                {{ enddate}}
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3">
            Room Name :
        </label>
        <div class="col-xs-9">
            <p class="form-control-static">
                {{ roomname }}
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3">
            Building Name :
        </label>
        <div class="col-xs-9">
            <p class="form-control-static">
                {{ Buildingname }}
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3">
            Site Name :
        </label>
        <div class="col-xs-9">
            <p class="form-control-static">
                {{ sitename }}
            </p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            Country :
        </label>
        <div class="col-xs-9">
            <p class="form-control-static">
                {{ country }}
            </p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">
            State :
        </label>
        <div class="col-xs-9">
            <p class="form-control-static">
                {{ state }}
            </p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <span class="label" ng-class="{true:'label-success', false:'label-danger', '':'hidden'}[active]">
                {{ active ? 'Active' : 'In Active' }}
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9 text-center">
            <a href="#/request/list" class="btn btn-info">Back to List</a>
            <button type="submit" class="btn btn-primary" ng-click="deleteRequest()">
                Delete
            </button>
        </div>
    </div>
</form>