@CHARSET "ISO-8859-1";

* {
	margin: auto;
}

#header {
	background: #AED1ED;
	text-align: center;
	padding-top: 20px;
	margin: 1.25% 2.5% 0% 2.5%;
	height: 80px;
}

#menu {
	background-color: #659a8b;
	padding-top: 10px;
	margin: 0% 2.5% 0% 2.5%;
	height: 30px;
}

#menu #prop {
	display: inline;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 10px 10px 30px;
	margin-left: 15px;
}

#menu #prop:hover {
	background-color: #0080ff;
}

#menu #prop a {
	color: black;
	text-decoration: none;
}

#body {
	height: 1000px;
	width: 95%;
}

#left_sidebar {
	margin: 0% 0.65% 1.25% 0.65%;
	width: 25%;
	float: left;
}

#left_sidebar .block ul li {
	padding: 10px 10px 10px 20px;
	list-style-type: none;
	margin-left: -40px;
}

#left_sidebar .block ul li:hover {
	background-color: #e2e7ea;
}

#left_sidebar .block ul li a {
	text-decoration: none;
}

#center_block {
	margin: 0% 0.65% 1.25% 0.65%;
	width: 46%;
	float: left;
}

#center_block h1 {
	margin: 15px 0px;
}

#center_block img {
	display: block;
	width: 100%;
}

#right_sidebar {
	margin: 0% 0.65% 1.25% 0.65%;
	width: 25%;
	float: right;
}

#right_sidebar .block ul li {
	padding: 5px 10px 5px 20px;
	list-style-type: none;
	margin-left: -55px;
}

#right_sidebar .block ul li a:hover {
	text-decoration: none;
}

.block {
	background-color: #b1bec7;
	text-align: justify;
	margin-top: 10px;
	padding: 10px 20px 20px 20px;
}

.block h3 {
	background-color: #e2e7ea;
	padding: 5px 10px 5px 10px;
	margin-bottom: 5px;
}

.block h4, p, #center_block h4 {
	margin-top: 5px;
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 14px;
	font-family: cursive;
}

#footer {
	text-align: center;
	background-color: #758a87;
	padding: 10px 0px 10px 0px;
	margin: 0% 1.25% 0% 1.25%;
}